*{
    margin: 0;
    
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Merienda One', cursive;
}

/* header */
header{
    position: relative;
    margin-bottom: 80px;
}

header nav{
    
    background-color: rgb(111, 114, 114);
    height: 70px;
    width: 100%;
    position:fixed;
    z-index: 2;
    box-shadow: 2px 3px 10px rgb(192, 189, 189);
}

header h1 {
    position: absolute;
    top: 25%;
    margin: auto 0;
    font-family: 2.5em;
}

header li{
    list-style: none;
    font-size: 1.1em;
    float: left;
    margin-right: 30px;
}
nav {
    margin-bottom: 5px;
}
ul{
    position: absolute;
    right: 0;
    top: 25%;
    float: right;
    display: block;
    
}


nav a {
    color: aqua;
    text-decoration: none; 
    transition: all ease-in-out .2s;
    text-transform: uppercase;
}
nav a:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
nav a:hover:after {
    width: 100%;
    
}

nav a:hover {
    color : #ffffff;
}

.active{
    color : #ffffff;
    border-bottom: 2px solid white;
}

.banniere{
    position: relative;
    top: 72px;
    width: 100%;
    height: 315px;
    background: linear-gradient(0.25turn, rgba(0,0,0, .95), rgba(0,0,0, .1)),
    no-repeat url("../img/banniere.jpg");
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

div p{
    position: absolute;
    width: 40%;
    color: white;
    font-size: 3.5em;
    display: block;
    /*background: rgba(109, 18, 18, .5);*/
    margin: auto 0;
}

/*body*/
div.article{
    margin: 170px 0 90px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plate tr:first-child td:first-child, .dessert tr:first-child td:first-child{
    text-align: center;
    color: rgba(255, 51, 0, 0.9);
}
.clear{
    clear: both;
}

table td:nth-child(2){
    background-color: rgba(21, 255, 0, 0.5);
    padding: 17px;
    font-weight: bold;
    color: rgba(54, 53, 52, 0.9);
}
table td:nth-child(1){
    background-color: rgba(214, 212, 210, 0.5);
    padding: 17px;
}
/* --- footer --- */

footer address{
    display: block;
    position: absolute;
    top: 30%;
    
    padding-top:30px ;
    border-top:  2px solid white;
}
footer{
    position: relative;
    height: 150px;
    background: rgb(49, 47, 47);
    color: white;
}